$color_background: #f0f0f7;
$color_main: #ffffff;
$color_contrast: #3b86ff;
$color_black: #232323;
$color_gray: #4d4f5c;
$color_lightgray: #f0f0f7;

$color_yellow: #ffc06a;
$color_cian: #56d9fe;
$color_purple: #a3a0fb;
$color_green: #4ad991;
$color_red: #ff8474;

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin button {
  border: none;
  border-radius: 5px;
  color: $color_main;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
body {
  @include flex;
  font-family: "Source Sans Pro", sans-serif;
  background-color: $color_background;
  margin: 0;
  min-height: 100%;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__navbar {
  @include flex;
  background-color: $color-main;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.header__navbar-brand {
  color: $color_black;
  font-size: 3em;
}

.header-ulist__item a {
  color: $color_black;
  font-size: 1.2em;
}

.main {
  @include flex;
  width: 100%;
  background-color: $color_main;
  justify-content: center;
  margin: 20px 0 20px 0;
  height: 100%;

  font-size: 1.4em;
}

.main__container {
  @include flex;
  flex-direction: column;
}

.main__container-companyDetails {
  @include flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}

.main__container-invoiceDetails {
  @include flex;
  align-self: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.main-invoiceDetail__table {
  border-collapse: collapse;
  margin-bottom: 5em;
  min-width: 80vw;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.15);
}

.main-invoiceDetail__table thead tr {
  font-weight: bold;
  color: $color_black;
  text-align: left;
  border: 1.5px solid $color_lightgray;
}

.main-invoiceDetail__table th,
.main-invoiceDetail__table td {
  padding: 12px 15px;
}

.main-invoiceDetail__table tbody tr {
  border-bottom: 2px solid $color_lightgray;
}

.btAccept {
  @include button;
  background-color: $color_contrast;
}
.btCancel {
  @include button;
  background-color: $color_red;
}

.footer {
  @include flex;
  width: 100%;
  bottom: 0;
  height: 3rem;
  background-color: $color_black;
  color: white;
  text-decoration: none;
  justify-content: center;
}
.footer a{
  text-decoration: none;
  color: $color_green;
}
.footer a:visited {
  text-decoration: none;
  color: $color_purple;
}

.footer a:hover, a:active { text-decoration: none; color:$color_red }